<div class= "text-center">
  <h1>新規会員登録</h1>
</div>

<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-group">
      <%= f.label :name, '名前' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :tel, '電話番号' %>
      <%= f.telephone_field :tel, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :postcode, '郵便番号' %>
      <%= f.text_field :postcode, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :address, '住所' %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, '確認のため、再度パスワードを入力してください' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
      <%= f.submit '登録', class: 'btn btn-primary rounded-pill btn-block' %>
    <% end %>   
  </div>  
</div>
 