<div class= "text-center">
  <h1>商品情報変更</h1>
</div>

<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <%= form_with(model: @item, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-group">
      <%= f.label :name, '商品名' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :price, '価格' %>
      <%= f.number_field :price, min:0, step:1, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description, '説明文' %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :stock, '在庫数' %>
      <%= f.number_field :stock, min:0, step:1, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :image, '商品画像' %>
      <%= f.file_field :image, class: 'form-cotrol' %>  
    </div>
    <div class="form-group">
      <%= f.label :status, '商品ステータス' %>
      <%= f.radio_button :status, :on_sale %>公開
      <%= f.radio_button :status, :not_on_sale %>非公開
    </div>　
    
      <%= f.submit '登録', class: 'btn btn-primary rounded-pill btn-block' %>
    <% end %>   
  </div>  
</div>