<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <div class="card">
      <% if @item.image? %>
        <%= image_tag @item.image.url, class: 'card-img-top' %>
      <% end %>
    
      <div class="card-body">
        <strong><%= @item.name %></strong>
        <p><%= @item.description %></p>
        <p class="text-right">¥<%= @item.price %></p>
        <% if @item.stock != 0 %>
          <p class="text-right text-success">在庫あり</p>    
        <% else %>
          <p class="text-right text-danger">在庫なし</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if logged_in? %>
  <% if current_user.admin_flag == true %>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <%= link_to '商品情報を変更', edit_item_path(@item), class: 'btn btn-secondary btn-block rounded-pill' %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col">
        あとで数量入力とカートに入れるボタンを置く
      </div>
    </div>
  <% end %>
<% else %>
  <p class="text-center">商品をカートに入れるには、<%= link_to '新規会員登録', signup_path %>と<%= link_to 'ログイン', login_path %>をしてください</p>
<% end %>  
<%= link_to '<< 前の画面に戻る', :back %>