<header class="mb-5">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">With cats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-around" id="navbar">
      <form class="form-inline" action="/items">
        <input class="form-control" type="search" name="search" placeholder="検索ワードを入力">
      </form>
      <ul class="navbar-nav ">
        <% if logged_in? %>
          <% if current_user.admin_flag == true %>
            <li class="nav-item">
              <%= link_to '新規商品登録', new_item_path, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "#{current_user.name}さんのマイページ", user_path(current_user), class: 'nav-link' %>
            </li>
            <li class="nav-item">
            <%= link_to 'カートを見る', cart_items_path, class: 'nav-link' %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to '新規会員登録', signup_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログイン', login_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
      
    </div>
  </nav>
</header>